<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class=" rounded flex flex-col gap-4 p-4 w-[500px] h-full shadow-md justyify-center items-center bg-slate-200">

  <div class="w-full">
    <%= form.label :name, class: "w-[90%] flex flex-col"%>
    <%= form.text_field :name, class: "w-full"%>
  </div>

   <div class="w-full">
    <%= form.label :preparation_time, class: "w-full flex flex-col" %>
    <%= form.number_field :preparation_time, class: "w-full"%>
  </div>

   <div class="w-full">
    <%= form.label :cooking_time, class: "w-full flex flex-col" %>
    <%= form.number_field :cooking_time, class: "w-full"%>
  </div>

   <div class="w-full">
    <%= form.label :description, class: "w-full flex flex-col" %>
    <%= form.text_area :description, class: "w-full" %>
  </div>

  <div  class="self-start">
    <%= form.label :public %>
    <%= form.check_box :public %>
  </div>

   <div class="bg-green-500 w-[30%] rounded-md py-2 px-4 text-white font-semibold">
  <%= form.submit%>
</div>
  </div>

<% end %>
