<p class="bg-red-600 text-white"><%= notice %></p>
<div class="w-full flex justify-center items-center py-10">
<div class="w-[60%] bg-blue-200 p-4 rounded-md shadow-md border-2 border-slate-600">

<div class="flex flex-col justify-center items-center gap-4">

<%= render @recipe %>

<div class="flex justify-center gap-8 text-white">
<p class="bg-[#13b8a6] p-2 text-white rounded-md shadow-md">
  <%= link_to "Back to recipes", recipes_path %>
  </p>

  <%= button_to "Destroy this recipe", @recipe, method: :delete, class: "bg-red-600 p-2 text-white rounded-md shadow-md"%>

  <%= link_to 'Add Ingredient', new_food_path(recipe_id: @recipe.id), class: 'bg-[#13b8a6] p-2 text-white rounded-md shadow-md' %>

</div>
</div>
</div>
</div>

<h2>Recipe Ingredients</h2>

<div>
  <% @recipe.foods.each do |food| %>
    <p><%= food.name %></p>
    <p><%= food.recipe_foods.find_by(recipe_id: @recipe.id).quantity %></p>

  <% end %>
</div>
